<div id="user_content">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>用户信息</legend>
    </fieldset>
    <div class="demoTable layui-inline">
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" lay-verify="required" placeholder="用户名称"
                   autocomplete="on">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
    <div class="layui-inline ">
        <div class="layui-input-inline" id="layerDemo">
            <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">添加</button>
        </div>
    </div>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn layui-btn-normal" lay-event="deleteData">批量删除</button>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

<script>
    //页面加载完执行，展示表格数据
    layui.use('table', function () {
        init_table()
    });

    // 初始化表格
    function init_table() {
        let table=layui.table;
        let url="/resource/find"
        let layer=layui.layer; //独立版的layer无需执行这一句
        show_table(table, url)

        let $=layui.$, active={
            reload: function () {
                let demoReload=$('#demoReload');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        resourceName: demoReload.val()
                    }
                }, 'data');
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            let type=$(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            let checkStatus=table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'deleteData':
                    var data=checkStatus.data;
                    if (!data.length) {
                        layer.msg('请选择删除的项');
                    } else {
                        //发送请求删除数
                        layer.confirm('确定批量删除吗', function (index) {
                            $.post({
                                url: "/resource/batch",
                                data: JSON.stringify(data),
                                contentType: "application/json; charset=utf-8",
                                dataType: "text",
                                success: function (data) {
                                    res=JSON.parse(data)
                                    if (res.code === 200) {
                                        console.log("zhixing")
                                        // 再次查询
                                        layui.use('table', function () {
                                            init_table()
                                        });
                                        layer.close(index);
                                    } else if (res.code === 500) {
                                        layer.msg("删除失败，服务端异常")
                                    }
                                },
                                error: function (data) {
                                    layer.msg("删除失败，请求异常")
                                }
                            })
                        });
                    }
                    break;
            }
            ;
        });
    }

    // 显示表格内容
    function show_table(table, url) {
        table.render({
            elem: '#test'
            , url: url
            , toolbar: '#toolbarDemo'
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'resourceId', width: 280, title: 'ID', hide:true}
                    , {field: 'resourceName', width: 180, title: '资源名'}
                    , {field: 'resourceType', width: 180, title: '资源类型'}
                    , {field: 'parentId', width: 180, title: '父资源id', hide:true}
                    , {field: 'parentName', width: 180, title: '父资源'}
                    // , {field: 'createTime', width: 250, title: '创建时间'}
                    , {field: 'createTime', title: '创建时间', width:250, templet:'<div>{{ layui.util.toDateString(d.pressTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                    , {field: '', width: 250, title: '编辑', align: 'center', toolbar: '#barDemo'}
                ]
            ]
            ,done:(res,curr,count)=>{
                // console.log(res) // 请求数据
                // console.log(curr)    //当前页
                // console.log(count)   //总条数
                $("[data-field='resourceType']").children().each(function(){
                    if($(this).text()==='0'){
                        $(this).text("菜单")
                    }else if($(this).text()==='1'){
                        $(this).text("页面")
                    }else if ($(this).text() === '2'){
                        $(this).text("按钮")
                    }else{
                        $(this).text("未知类型")
                    }
                });

            }
            , id: 'testReload'
            , page: true
        });
    }

    //添加操作
    function add_data() {
        // 获取表单数据
        let resourceName=$("#resourceName").val()
        let resourceType=$("#resourceType").val()
        let parentId=$("#resourceId").val()

        let data={
            "resourceName": resourceName,
            "resourceType": resourceType,
            "parentId": parentId
        }
        console.log(data)
        $.post({
            url: "/resource/add",
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: JSON.stringify(data),
            success: function (data) {
                if (data.code === 200)
                    layer.msg("添加成功")
                $("#register_context:input")
                    .not(":button", ":reset", ":hidden", ":submit")
                    .val("")
            },
            error: function (data) {
                layer.msg("添加失败")
            }
        })
    }

    // 弹出层，用于添加用户
    layui.use('layer', function () { //独立版的layer无需执行这一句
        let $=layui.jquery, layer=layui.layer; //独立版的layer无需执行这一句
        //触发事件
        let active={
            offset: function (othis) {
                let type=othis.data('type'), text=othis.text();
                layer.open({
                    type: 1
                    , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div id="add_resource" style="height: 500px; margin-top: 20px">\n' +
                        '    <form class="layui-form" action="">\n' +
                        '        <div class="layui-form-item">\n' +
                        '            <label class="layui-form-label">资源名称</label>\n' +
                        '            <div class="layui-input-inline">\n' +
                        '                <input type="text" id="resourceName" name="resourceName"  placeholder="请输入资源名" autocomplete="off" class="layui-input">\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '        <div class="layui-form-item">\n' +
                        '            <div class="layui-inline" id="resource_select">\n' +
                        '                <label class="layui-form-label">资源类型</label>\n' +
                        '                <div class="layui-input-inline">\n' +
                        '                    <select id="resourceType" name="resourceType" lay-verify="required"  lay-filter="menu_type" class="select">\n' +
                        '                        <option value="">请选择资源类型</option>\n' +
                        '                            <option value="0">导航</option>\n' +
                        '                            <option value="1">页面</option>\n' +
                        '                            <option value="2">按钮</option>\n' +
                        '                    </select>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '        <div class="layui-form-item">\n' +
                        '            <div class="layui-inline">\n' +
                        '                <label class="layui-form-label">父资源</label>\n' +
                        '                <div class="layui-input-inline">\n' +
                        '                    <select id="resourceId" name="resourceId" id="parent_menu">\n' +
                        '                        <option value="">请选择父资源</option>\n' +
                        '                    </select>\n' +
                        '                </div>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </form>\n' +
                        '</div>'
                    , btn: '提交'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    ,success:function (){
                        // 初始化下拉框样式
                        layui.use(['form', 'element'], function(){
                            let element = layui.element;
                            let form = layui.form;
                            form.render();
                            form.on("select(menu_type)",(obj)=>{
                                let menu_type = $("select[name = resourceType]").val()
                                if (menu_type === "0"){
                                    //首先放着，什么也不做
                                    $("#resourceId").empty()    //清空下拉框
                                    $("#resourceId").append(new Option("请选择资源",""))
                                    form.render() //渲染菜单
                                }else if (menu_type === "1"){
                                    // 获取选中类型的父标签种类
                                    let url = "/resource/find?resourceType=0"
                                    $.get(url, function (data) {
                                        $("#resourceId").empty()    //清空下拉框
                                        $("#resourceId").append(new Option("请选择资源",""))
                                        form.render() //渲染菜单
                                        $.each(data.data, (index,item) =>{
                                            $("#resourceId").append(new Option( item.resourceName, item.resourceId))
                                        })
                                        form.render() //渲染菜单
                                    })
                                }else if (menu_type === "2"){
                                    let url = "/resource/find?resourceType=1"
                                    $.get(url, function (data) {
                                        $("#resourceId").empty()    //清空下拉框
                                        $("#resourceId").append(new Option("请选择资源",""))
                                        form.render() //渲染菜单
                                        $.each(data.data, (index,item) =>{
                                            console.log("资源名称："+item.resourceName+"---"+item.resourceId)
                                            $("#resourceId").append(new Option( item.resourceName, item.resourceId))
                                        })
                                        form.render() //渲染菜单
                                    })
                                }
                            })
                        });
                    }
                    , yes: function () {
                        add_data()
                        layer.closeAll();
                        // 再次查询
                        layui.use('table', function () {
                            init_table()
                        });
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis=$(this), method=othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });

    //监听表格编辑单元格
    layui.use('table', function () {
        var table=layui.table;
        //监听表格复选框选择
        table.on('checkbox(test)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test)', function (obj) {
            let data=obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    type: 1
                    ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    // ,id: 'layerDemo' //防止重复弹出
                    ,content: '<div id="show_user" style="margin-top: 10px;margin-left: 20px">\n' +
                        '    <span>资源ID：</span><span>'+data.resourceId+'</span></br>\n' +
                        '    <span>资源名称：</span><span>'+data.resourceName+'</span></br>\n' +
                        '    <span>资源类型：</span><span>'+data.resourceType+'</span></br>\n' +
                        '    <span>父资源：</span><span>'+data.parentId+'</span></br>\n' +
                        '    <span>创建时间：</span><span>'+data.createTime+'</span></br>\n' +
                        '</div>'
                    ,btn: '关闭全部'
                    ,btnAlign: 'c' //按钮居中
                    ,shade: 0 //不显示遮罩
                    ,yes: function(){
                        layer.closeAll();
                    }
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    let resourceId=data.resourceId;
                    let url="/resource/delete?resourceId=" + resourceId
                    $.get(url, function (data) {
                        obj.del();
                        layer.close(index);
                    })
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 1
                    ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    // ,id: 'layerDemo' //防止重复弹出
                    ,content: '<div id="update_data" style="margin-top: 10px;height: 400px">\n' +
                        '    <form class="layui-form" action="">\n' +
                        '<div class="layui-form-item" hidden>\n' +
                        '            <label class="layui-form-label">资源ID</label>\n' +
                        '            <div class="layui-input-inline">\n' +
                        '                <input type="text" id="resource_id" name="id" lay-verify="required" value='+data.resourceId+' disabled autocomplete="off" class="layui-input">\n' +
                        '            </div>\n' +
                        '        </div>'+
                        '    <div class="layui-form-item">\n' +
                        '        <label class="layui-form-label">资源名称</label>\n' +
                        '        <div class="layui-input-inline">\n' +
                        '            <input type="text" id="resource_name" value='+data.resourceName+' name="userName" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '    <div class="layui-form-item">\n' +
                        '        <div class="layui-inline" id="resource_select">\n' +
                        '            <label class="layui-form-label">资源类型</label>\n' +
                        '            <div class="layui-input-inline">\n' +
                        '                <select id="resource_Type" name="resourceType" lay-verify="required"  lay-filter="menu_type" class="select">\n' +
                        '                    <option value="">请选择资源类型</option>\n' +
                        '                        <option value="0">导航</option>\n' +
                        '                        <option value="1">页面</option>\n' +
                        '                        <option value="2">按钮</option>\n' +
                        '                </select>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '    <div class="layui-form-item">\n' +
                        '        <div class="layui-inline">\n' +
                        '            <label class="layui-form-label">父资源</label>\n' +
                        '            <div class="layui-input-inline">\n' +
                        '                <select id="parent_id" name="resourceId" id="parent_menu">\n' +
                        '                    <option value="">请选择父资源</option>\n' +
                        '                </select>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '    </form>\n' +
                        '</div>'
                    ,btn: '提交'
                    ,btnAlign: 'c' //按钮居中
                    ,shade: 0 //不显示遮罩
                    ,success: function () {
                        // 设置下拉框内容
                        $("#resource_Type").val(data.resourceType)
                        $("#parent_id").append(new Option(data.parentId,data.parentId))

                        // 显示层加载成功
                        let form = layui.form;
                        form.render();
                        form.on("select(menu_type)",(obj)=>{
                            let menu_type = $("select[name = resourceType]").val()
                            if (menu_type === "0"){
                                //首先放着，什么也不做
                                $("#resourceId").empty()    //清空下拉框
                                $("#resourceId").append(new Option("请选择资源",""))
                                form.render() //渲染菜单
                            }else if (menu_type === "1"){
                                // 获取选中类型的父标签种类
                                let url = "/resource/find?resourceType=0"
                                $.get(url, function (data) {
                                    $("#parent_id").empty()    //清空下拉框
                                    $("#parent_id").append(new Option("请选择资源",""))
                                    form.render() //渲染菜单
                                    $.each(data.data, (index,item) =>{
                                        $("#parent_id").append(new Option( item.resourceName, item.resourceId))
                                    })
                                    form.render() //渲染菜单
                                })
                            }else if (menu_type === "2"){
                                let url = "/resource/find?resourceType=1"
                                $.get(url, function (data) {
                                    $("#parent_id").empty()    //清空下拉框
                                    $("#parent_id").append(new Option("请选择资源",""))
                                    form.render() //渲染菜单
                                    $.each(data.data, (index,item) =>{
                                        $("#parent_id").append(new Option( item.resourceName, item.resourceId))
                                    })
                                    form.render() //渲染菜单
                                })
                            }
                        })
                    }
                    ,yes: function(){
                        let resourceId = $("#resource_id").val()
                        let resourceName = $("#resource_name").val()
                        let resourceType = $("#resource_Type").val()
                        let parentId = $("#parent_id").val()
                        let data = {
                            resourceId: resourceId,
                            resourceName: resourceName,
                            resourceType: resourceType,
                            parentId: parentId
                        }
                        $.post({
                            url:"/resource/update",
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data){
                                layer.closeAll();
                                layer.msg("修改成功！")
                                //刷新页面
                                layui.use('table', function () {
                                    init_table()
                                });
                            },
                            error: function (data){
                                layer.msg("修改失败")
                            }
                        })

                    }
                });
            }
        });
    });
</script>